@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');font-family: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@400;700&display=swap');



*{
width: 100%;
height: 100%;
padding: 0px;
margin: 0px;
overflow-x: hidden;
}

.menu {
    text-align: right;
    padding-right: 20px;
     display:block;
     padding : 30px;
}

.menu a {
    text-decoration: none;
    font-family: Chivo;
    color: #9370DB;
    user-select: none;
    transition: 0.3s;

}

.menu-button {
    background-color: black;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 7px;

}

.menu-button:hover {
    background-color: white;

}
   
body {
    color : white;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;

}

header{
    background: linear-gradient(#13181d, #20212e, #341b47)

}

header nav{
    padding : 30px 5% 0 5%;
    display: flex;
    flew-wrap: wrap;
    justify-content : space-between;
    align-items : center;
}

header nav h1{
    margin: 0;
    text-transform : uppercase;
 
}

header nav .menu{
    display: flex;
    align-itemps: center;

}


#Google{
    padding : 50px 0;
    padding : 20px;
    display: flex;
    align-items: center;
    background-color: #13181d;
    color: white;
    
} 

#Google img{
    margin-right: 30px;
    width: 350px;
    color: white;
}

#Loreal{
   padding : 50px 0px;
    padding : 70px;
    display: flex;
    align-items: center;
    background-color: #13181d;
    color: white;
} 

#Loreal img {
    margin-right: 30px;
    width: 350px;
    color: white;
   
}


.presentation {
    display: absolute;
    justify-content: space-around;
    color: white;
     text-align: center;
     padding : 25px;
     height : 360px;
     margin-left : 100px;
     margin-top: 17px;

}


.image img {
    width: 150px;
    margin-top: 0px;
    user-select: none;


}

.image{
    margin-bottom : 170px;

}

#CCI{
    
    background-color : #13181d;
    color : white;
    padding : 50px 0;
    padding : 20px;
    display: flex;
    align-items: center;
}

#CCI img{
    margin-right: 30px;
    width: 350px;
}


#container {
  color: white;
  background-color: #13181d;
  padding: 55px;

}


.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 4px;
  margin: 10px ;
  flex-grow: 1;
  color: black;
  align-content: center;
  text-align: center;
}

.card-white img {
  width: 60% 30;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
  padding: 10px;
  align-content: center;

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

}


@media (min-width: 400px) {
  .container {
    width: 1000px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 700px) {
  .container {
    width: 1000px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .container {
    width: 1000px;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.small {
  color: white;
  background-color: #20212e;
  margin: 0px 0px;
    display: flex;
      align-items: center;
justify-content: space-around;

}

.small img {
    width: 20%;
    
    padding: 10px;
    margin-left: 0px;
}

.small-images button {
    background-color: var(--violet);
    color: white;
    border: 1px solid var(--violet);
    transition: background-color 0.5s, color 0.5s;

}
.small-images button:hover {
    background-color: inherit;
    color: var(--violet);
}
.small-images {
    margin-top: 0px;
    background-color: #20212e;
    padding: 20px;
 
}
.small-images .small {
    padding: 20px;
    background-color: #33314d;
    margin: 25px 25px 25px 25px;
    border-radius: 20px;
    transition: filter 0.5s;
  

}
.small-images .small:hover {
    filter: brightness(60%);

}


.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 90px;
  background-color : #341b47;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 4rem 20px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;

}

.slider__contents {
  height: 100%;
  padding: 8rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.slider__caption {
  font-weight: 300;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 7rem;
  max-width: 600px;
  padding: 50px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}



@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}



